DATABASE_URL=postgresql+psycopg2://kiosco:kiosco@db:5432/kiosco_don_pepe
JWT_SECRET_KEY=cambia-esta-clave-por-una-segura
ACCESS_TOKEN_EXPIRE_MINUTES=60
KIOSCO_ORIGIN_ADDRESS=Av. Rivadavia 1000, Moron, Buenos Aires, Argentina
GEOCODING_BASE_URL=https://nominatim.openstreetmap.org/search
ENVIO_COSTO_POR_KM=150.0
ENVIO_COSTO_BASE=500.0
CORS_ORIGINS=*
